@tailwind base;
@tailwind components;
@tailwind utilities;



/* Estilos para el modo oscuro */
body.dark-mode {
    background-color: #1a202c;
    color: #464242;
  }
  
  body.dark-mode a {
    color: #63b3ed;
  }



